<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Card Demo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Import header  -->
    <%- include('../components/navbar.ejs') %>
    <h1>My Blogs</h1>
    <main class="wrapper">
      <% if (data.length === 0) { %>
      <h1 class="no-data">No Blogs Found</h1>
      <% } else { %> <% data.forEach((blog) => { %>
      <article class="card">
        <h2 class="card__title"><%= blog.title %></h2>
        <h3 class="card__subtitle"><%= blog.subtitle %></h3>
        <p class="card__desc"><%= blog.description %></p>
    
        <a href="/single/<%= blog.id %>" class="card-link">
          <span><i>Read More</i></span>
        </a>
        <br />
      </article>
      <% }); %> <% } %>
    </main>
  </body>
</html>